// Custom Bootstrap variables
$primary: #5267c4;
$secondary: #8b96cf;

$success: #4fae83;
$warning: #e5ad45;
$danger: #d85c68;

$light: #f5f6fb;
$dark: #252a3d;

// Bootstrap
@import "bootstrap/scss/bootstrap";
